/*Fondo de pantalla*/
body{
    background-color: white;
}
/* Encabezado 1 */
#top-header{
    background-color: rgb(255, 127, 0);
    height: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Datos del encabezado*/
.container a{
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0px 0px;
    list-style: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

.centrado{
    position: relative;
    width: 80px;
    margin-left: 3%;
    margin-top: auto;
}
/* contador*/
#reloj{
    position: relative;
    height: 149px;
}
#black img{
    position: absolute;
    height: 90%;
    margin-left: 5%;
    margin-top: 0.5%;
    width: 20%;
    z-index: 1; /*Da prioridad poner encima!*/
}
#descuento img{
    position: absolute;
    height: 90%;
    margin-left: 74%;
    margin-top: 0.5%;
    width: 20%;
    z-index: 1; /*Da prioridad poner encima!*/
}


/* POPULARIDAD*/
#popularidad{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a .btn{
    font-size: 22px;  
    font-weight: bold;
    background-color:  #ED5A00;
}

/*BANER DE SUSCRIPCION*/

html,body{
    height: 100%;
}

#cover {
    background: white url(../img/banner_suscri.jpg)center no-repeat;
    background-size: 1500px;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover h1{
    font-weight: bold;
    font-size: 50px;
    text-align: start;
    width: 530px;
    margin-left: 10%;
}
#cover p{
    font-size: 15px;
    text-align: start;
    width: 530px;
    margin-left: 10%;
}

.suscribete input[type=submit]{
    top: 0;
    right: 0;
    background: #ED5A00;
    color: white;
    border: 0;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    font-size: 18px;
    font-weight: 700px;
    width: 125px;
    height: 45px;
    
}
.suscribete input[type=email]{
    top: 0;
    right: 0;
    background: white;
    color: white;
    border: 0;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    font-size: 18px;
    font-weight: 700ox;
    width: 280px;
    height: 45px;
}

.check{
    width: 530px;
    margin-left: 7%;
    color: black;
}


/*NAVEGADOR*/
.container-fluid{
    height: 105%;
    width: 95%;
}

.navbar-nav{
    margin-top: auto;
    margin-left:8%;
}

.nav-link{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offcanvas-title{
    font-size: 30px;
    font-weight: bold;
}

.carousel-caption h5{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.col{
    text-align: center;
}

/*redes sociales*/
.mb-4 h1,#redes{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/*Pie de pagina*/
footer{
    background-color: #F0E9E7;
}

.text-uppercase{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-lg-5 p{

    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-unstyled li a{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Copyright*/

.p-3{
    background-color: black;
}


/*tables*/
@media(max-width: 990px){
    #black img{
        margin-left: 1%;
    }
    #descuento img{
        margin-left: 78%;
    }

    /* navegador*/
    .navbar-toggler{
        position: absolute;
        margin-left: 0px;
        margin-top: 0%;
    }

    .centrado{ /*log*/
        position: relative;
        margin-left:12%;
        margin-top: 5px;
    }
    
    #favorito{
        position: relative;
        margin-left: 280%;
        margin-top: 5px;
    }
    #carrito_compra{
        position: relative;
        margin-left: 0%;
        margin-top: 5px;
    }
    /*banner de suscripcion*/
    #cover {
        background: white url(../img/banner_suscri.jpg)center no-repeat;
        background-size: 1500px;
        width: 1000px;
        
    }
}    

/*MOVIL*/
@media(max-width: 700px)and (min-width:400px) {
    #black img{
        margin-left: -200px;
    }
    #descuento img{
        margin-left:-200px;
    }

    /* navegador*/
    .navbar-toggler{
        position: relative;
        margin-left: 0px;
        margin-top: 0%;
    }

    .centrado{ /*log*/
        position: absolute;
        margin-left: 160px;
        margin-top: 0px;
    }
    
    #favorito{
        position: relative;
        margin-left: 270%;
        margin-top: 0px;
    }
    #carrito_compra{
        position: relative;
        margin-left: 340%;
        margin-top: 0px;
    }
    
}