
/*PseudoElementos*/





.seudoEle::after{
    content: 'Perú';
    background-color: red;
}


/*Pseudoclases*/

div:hover{
    background-color: yellow;
}

a:hover{
    color: red;
}

a:focus{
    color: green;
}

a:active{
    color: hotpink;
}



/**/
