#contenedor{
    width:500px;
    margin: auto;
    background-color: floralwhite;
    padding-left: 10px;
    font-family: calibri;
}

span{
    width:110px;
    display: block;
    float: left;
    padding-left: 4px;
}
.nom{
    background-color: darkgrey;
    text-align: center;
}
.titu{
    background-color: green;
    text-align: center;
}
li{
    list-style: none;
    margin-top: 1px;
}
ul{
    margin: 0px;
    padding-left: 0px;
}

.tituEmail{
    width: 265px;
    text-align: center;
    background-color: green;
}

.nomemail{
    background-color: darkgrey;
    width: 265px;
    text-align: center;
}

#aviso{
    background-color: pink;
    width: 500px;
    text-align: center;
}