.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;

    grid-template-areas: "head head"
    "nav nav"
    "section section"
    "aside aside"
    "foot foot";

}

.a{
    grid-area: head;
    background-color: red;
}
.b{
    grid-area: nav;
    background-color: blue;
}
.c{
    grid-area: section;
    background-color: yellow;
}
.d{
    grid-area: aside;
    background-color: green;
}
.e{
    grid-area: foot;
    background-color: grey;
}

.a, .b, .c, .d, .e{
    border: 2px solid black;
}
