.grid{
    min-height: 100vh; /*Para toda la pantalla*/
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 200px 1fr 100px;

    grid-template-areas: "head head head"
    "nav contenido aside"
    "foot foot foot";
}

header{
    grid-area: head;
    background-color:lightsalmon;
}
nav{
    grid-area: nav;
    background-color:lightseagreen;
}
section{
    grid-area: contenido;
    background-color:lightskyblue;
}
aside{
    grid-area: aside;
    background-color:olive;
}
footer{
    grid-area: foot;
    background-color: grey;
}

header, nav, section, aside, footer{
    border: 2px solid black;
}
