header{
    background-color: blueviolet;
    height: 150px;
}

nav{
    background-color: cyan;
    width: 25%;
}

section{
    background-color: indigo;
    width: 50%;
}

aside{
    background-color: darkviolet;
    width: 25%;
}

footer{
    background-color: deeppink;
    height: 100px;
    clear: left; /*no trabajar con flotaciones*/
}

nav,aside,section{
    float: left;
    height: 200px;
}




